<h1>Here To Help Developers</h1>

<div class="container d-flex flex-column align-items-center">
    {{#each hacks as |hacks|}}
    <div id="card" class="card card-body" style="width: 45vw;">
        <div>
            <h5>Question:</h5>
            <p>{{hacks.title}}</p>
        </div>
        <h5>Asked By:</h5>
        <p>{{hacks.author}}</p>
        <h5>Answers</h5>

        <p>{{hacks.body}}</p>
        <a class="btn btn-dark btn-block mb-2" href="edit/{{id}}">Answer It</a>
        
        <form action="/{{id}}?_method=DELETE" method="post">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>
    {{else}}
    <p>No Questions So Far...</p>
    {{/each}}
</div>

<button type="button" class="btn btn-dark"><a href="/new">Ask a Question</a></button>